link(rel="import" href="../../bower_components/polymer/polymer.html")
link(rel="import" href="../../bower_components/paper-input/paper-input.html")
link(rel="import" href="../../bower_components/paper-button/paper-button.html")
link(rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html")
link(rel="import" href="../../bower_components/iron-icons/image-icons.html")
link(rel="import" href="../../bower_components/iron-icons/iron-icons.html")
link(rel="import" href="../../bower_components/paper-dialog/paper-dialog.html")
link(rel="import" href="../../bower_components/paper-spinner/paper-spinner.html")
link(rel="import" href="../interact-component/interact-component.html")
script(src="../../bower_components/platform.js/platform.js")
script(src="../../bower_components/canvas-to-image/js/canvas-to-image.min.js")

dom-module#nishiwaki-logo-composer
  template
    style(is="custom-style")
      :stylus
        :host
          display: block
          --scale: 1
          .container
            width: 425px
            height: 425px
            position: relative
            overflow: hidden
            .drop-range
              box-sizing: border-box
              z-index: 3
              .drop-me
                color: #ccc
            canvas
              z-index: 2
            .image
              position: absolute
              top: 64px
              left: 64px
              width: calc(100% - 128px)
              height: calc(100% - 128px)
              z-index: 1
              interact-component
                position: absolute
                top: -64px
                left: -64px
            &[dragging] .drop-range
              border: 5px dashed #ccc
          .actions
            position: absolute
            top: 0px
            right: 0px
            z-index: 4
          &.mobile
            .hidden-on-mobile
              display: none
            &.editor-mode
              *
                touch-action: none
              canvas
                opacity: 0.5
                pointer-events: none
              .drop-range
                pointer-events: none
            &:not(.editor-mode)
              .image
                overflow: hidden
              .hidden-on-not-editor-mode
                display: none
          &:not(.mobile)
            .help
            .actions
            .hidden-on-not-mobile
              display: none
              display: none
            canvas
              pointer-events: none
            > .container
              &:hover canvas
                opacity: 0.5
              &:not(:hover)
                .image
                  overflow: hidden
          paper-button.primary
            background-color: var(--primary-color)
            color: white
          paper-icon-button, iron-icon
            &.primary
              color: var(--primary-color)
            &[active], &.active
              color: var(--accent-color)
          .help
            text-align: right
            padding: 0.5rem 0
            color: #bbb
          #dialog
            min-width: 400px
            margin: 0
            ul
              padding-left: 20px
              line-height: 200%
    .container(on-dragenter="setDragging" on-dragleave="unsetDragging" on-dragover="onDragover" on-drop="onDrop" dragging$="[[isDragging]]")
      canvas#canvas.fit(width="425" height="425")
      .drop-range.layout.horizontal.center.center-justified.fit(hidden$="[[rotatedImage]]")
        .drop-me.vertical.layout.center
          .hidden-on-mobile ここに画像をドロップ
          .hidden-on-mobile または
          .file
            paper-input#fileInput(type="file" on-change="onFileSelected" hidden)
            paper-button(raised on-tap="selectFile")
              paper-spinner(active hidden="[[!isUploadingFile]]")
              span(hidden="[[isUploadingFile]]") 画像選択
      .image(hidden="[[!file]]")
        interact-component(draggable resizable x="{{x}}" y="{{y}}" w="{{w}}" h="{{h}}" scale="[[scale]]" shows-resize-handler="[[]]")
          canvas#interactCanvas(width$="[[w]]" height$="[[h]]")
      .actions
        paper-icon-button.primary.hidden-on-not-editor-mode(icon="image:rotate-right" on-tap="rotate" hidden="[[!file]]")
        paper-icon-button.primary(icon="image:transform" on-tap="toggleEditorMode" hidden="[[!file]]" toggles)
    .help(hidden="[[!file]]")
      a(on-tap="openHelp")
        iron-icon(icon="help")
        | 操作方法
    .layout.vertical.center-justified
      paper-input(label="おなまえ" type="text" value="{{text}}")
      paper-button.primary(on-tap="download" raised) 画像をダウンロード！
    paper-dialog#dialog
      h2 操作方法
      main
        ul
          li
            iron-icon.primary(icon="image:transform")
            | をタップで画像編集モード開始
          li
            | 画像編集モードでは以下のことができます
            ul
              li 画像の中心付近をドラッグで位置調整
              li 画像の外周付近をドラッグで拡大縮小
              li
                iron-icon.primary(icon="image:rotate-right")
                | をタップで90度右回転
          li
            iron-icon.primary.active(icon="image:transform")
            | をタップで画像編集モード終了
      .buttons
        paper-button(dialog-confirm autofocus) 閉じる
  script(src="./nishiwaki-logo-composer.js")
