doctype html
html(lang="ja")
  head
    title ニシワキ ロゴメーカー
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" type="image/png" href="/favicon-32x32.png")
    link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    script(src="./bower_components/webcomponentsjs/webcomponents-lite.min.js")
    link(rel="import" href="./bower_components/paper-styles/paper-styles.html")
    link(rel="import" href="./bower_components/paper-header-panel/paper-header-panel.html")
    link(rel="import" href="./bower_components/paper-toolbar/paper-toolbar.html")
    link(rel="import" href="./bower_components/iron-flex-layout/iron-flex-layout-classes.html")
    link(rel="import" href="./components/nishiwaki-logo-composer/nishiwaki-logo-composer.html")
    style
      :stylus
        main
          padding: 1rem
          h3
            text-align: center
            font-size: calc(1.17em * 0.7 + 0.3vw)
  body.fullbleed.vertical.layout
    paper-header-panel
      paper-toolbar
        h2 ニシワキ ロゴメーカー
      main.layout.vertical
        section.layout.horizontal.center-justified
          h3 西脇市のロゴを使って、あなただけのアイコン画像を作成します。
        section.flex.layout.horizontal.center-justified
          nishiwaki-logo-composer
