doctype html
html(lang="ja")
  head
    title ニシワキ ロゴメーカー
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(name="format-detection" content="telephone=no")
    link(rel="shortcut icon" type="image/png" href="/favicon-32x32.png")
    link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    script(src="./bower_components/webcomponentsjs/webcomponents-lite.min.js")
    link(rel="import" href="./bower_components/paper-styles/paper-styles.html")
    link(rel="import" href="./bower_components/paper-header-panel/paper-header-panel.html")
    link(rel="import" href="./bower_components/paper-toolbar/paper-toolbar.html")
    link(rel="import" href="./bower_components/iron-flex-layout/iron-flex-layout-classes.html")
    link(rel="import" href="./components/nishiwaki-logo-composer/nishiwaki-logo-composer.html")

    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    style
      :stylus
        h2, h3
          font-family: sans-serif
        .paper-toolbar-0
          background: #23AC0E
        .nishiwaki-logo-composer-0 paper-button.primary.nishiwaki-logo-composer
          margin-top: 20px
          background: #E1147F
          font-weight: bold
        .nishiwaki-logo-composer-0 .container.nishiwaki-logo-composer .drop-range.nishiwaki-logo-composer .drop-me.nishiwaki-logo-composer, .nishiwaki-logo-composer-0 .container.nishiwaki-logo-composer .drop-range.nishiwaki-logo-composer .drop-me.nishiwaki-logo-composer
          color: #D45D87
        .logo-wrapper
          margin-right: 5px
          background-color: #ffffff
          border-radius: 18px
          height: 35px
        main
          padding: 1rem
          h3
            text-align: center
            font-size: calc(1.17em * 0.7 + 0.3vw)
          .inquiry
            margin-top: 1.5em
            font-size: 12px
          .source-code
            margin-top: 1.5em
            font-size: 10px
            color: #666
            a
              text-decoration: none
              color: #666
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-46693484-4")
    script.
      window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-46693484-4');
  body.fullbleed.vertical.layout
    paper-header-panel
      paper-toolbar
        .logo-wrapper
          img(src="/logo.png" height="35" width="35")
        h2 ニシワキ ロゴメーカー
      main.layout.vertical
        section.layout.horizontal.center-justified
          h3 西脇市のロゴを使って、あなただけのアイコン画像を作成します。
        section.flex.layout.horizontal.center-justified
          nishiwaki-logo-composer
        section.layout.horizontal.center-justified
          .inquiry
            | お問合せ先：
            a(href="http://www.city.nishiwaki.lg.jp/kakukanogoannai/toshikeieibu/jisedaisouseika/index.html" target="_blank") 西脇市役所次世代創生課
        section.layout.horizontal.center-justified
          .source-code
            i(class="fa fa-github" aria-hidden="true")
            | &nbsp;
            a(href="https://github.com/JunichiIto/nishiwaki-logo-maker" target="_blank") JunichiIto/nishiwaki-logo-maker
